<div class="wrapper">
  <div class="col-12">
    <section class="standings-wrapper  ">
      <header class="standings-header">
          <h3 class="standings-header__title">Champions Trophy Standings</h3>
      </header>


      <h3 class="tandings-subtitle">Group A</h3>
       <table class="table">
        <thead>
          <tr class="table-head">
            <th class="table-head__cell">Pos</th>
            <th class="table-head__cell u-text-left">Team</th>
            <th class="table-head__cell">Matches</th>
            <th class="table-head__cell u-hide-phablet">Won</th>
            <th class="table-head__cell u-hide-phablet">Lost</th>

            <th class="table-head__cell u-hide-desktop">Tied</th>
            <th class="table-head__cell u-hide-desktop">N/R</th>
            <th class="table-head__cell">Net RR</th>
            <th class="table-head__cell u-hide-desktop">For</th>
            <th class="table-head__cell u-hide-desktop">Against</th>
            <th class="table-head__cell"><span class="u-hide-phablet">Points</span><span class="u-show-phablet">Pts</span></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-body">
            <td class="table-body__cell table-body__cell--position">1</td>
            <td class="table-body__cell table-body__cell--main">
                <span class="flag-20 table-body__logo u-hide-phablet">
                  <%= image_tag 'flags/aus.jpg', :width => '26px', :height => '20px' %>
                </span>
                <span class="table-link">
                  <span class="u-hide-phablet">Australia</span>
                  <span class="u-show-phablet u-hide-mobile">Australia</span>
                  <span class="u-show-mobile">AUS</span>
                </span>
            </td>
            <td class="table-body__cell">0</td>
            <td class="table-body__cell u-hide-phablet">0</td>
            <td class="table-body__cell u-hide-phablet">0</td>

            <td class="table-body__cell u-hide-desktop">0</td>
            <td class="table-body__cell u-hide-desktop">0</td>
            <td class="table-body__cell">0.00</td>
            <td class="table-body__cell u-hide-desktop">0 / 0</td>
            <td class="table-body__cell u-hide-desktop">0 / 0</td>

            <td class="table-body__cell table-body__cell--points">0</td>
          </tr>
          <tr class="table-body">
            <td class="table-body__cell table-body__cell--position">2</td>
            <td class="table-body__cell table-body__cell--main">
                <span class="flag-20 table-body__logo u-hide-phablet">
                  <%= image_tag 'flags/ban.jpg', :width => '26px', :height => '20px' %>
                </span>
                <span class="table-link">
                    <span class="u-hide-phablet">Bangladesh</span>
                    <span class="u-show-phablet u-hide-mobile">Bangladesh</span>
                    <span class="u-show-mobile">BAN</span>
                </span>
            </td>
            <td class="table-body__cell">0</td>
            <td class="table-body__cell u-hide-phablet">0</td>
            <td class="table-body__cell u-hide-phablet">0</td>

            <td class="table-body__cell u-hide-desktop">0</td>
            <td class="table-body__cell u-hide-desktop">0</td>
            <td class="table-body__cell">0.00</td>
            <td class="table-body__cell u-hide-desktop">0 / 0</td>
            <td class="table-body__cell u-hide-desktop">0 / 0</td>

            <td class="table-body__cell table-body__cell--points">0</td>
          </tr>
          <tr class="table-body">
            <td class="table-body__cell table-body__cell--position">3</td>
            <td class="table-body__cell table-body__cell--main">
                <span class="flag-20 table-body__logo u-hide-phablet">
                  <%= image_tag 'flags/eng.jpg', :width => '26px', :height => '20px' %>
                </span>
                <span class="table-link">
                    <span class="u-hide-phablet">England</span>
                    <span class="u-show-phablet u-hide-mobile">England</span>
                    <span class="u-show-mobile">ENG</span>
                </span>
            </td>
            <td class="table-body__cell">0</td>
            <td class="table-body__cell u-hide-phablet">0</td>
            <td class="table-body__cell u-hide-phablet">0</td>

            <td class="table-body__cell u-hide-desktop">0</td>
            <td class="table-body__cell u-hide-desktop">0</td>
            <td class="table-body__cell">0.00</td>
            <td class="table-body__cell u-hide-desktop">0 / 0</td>
            <td class="table-body__cell u-hide-desktop">0 / 0</td>

            <td class="table-body__cell table-body__cell--points">0</td>
          </tr>
          <tr class="table-body">
            <td class="table-body__cell table-body__cell--position">4</td>
            <td class="table-body__cell table-body__cell--main">
                <span class="flag-20 table-body__logo u-hide-phablet">
                  <%= image_tag 'flags/nz.jpg', :width => '26px', :height => '20px' %>
                </span>
                <span class="table-link">
                    <span class="u-hide-phablet">New Zealand</span>
                    <span class="u-show-phablet u-hide-mobile">New Zealand</span>
                    <span class="u-show-mobile">NZ</span>
                </span>
            </td>
            <td class="table-body__cell">0</td>
            <td class="table-body__cell u-hide-phablet">0</td>
            <td class="table-body__cell u-hide-phablet">0</td>

            <td class="table-body__cell u-hide-desktop">0</td>
            <td class="table-body__cell u-hide-desktop">0</td>
            <td class="table-body__cell">0.00</td>
            <td class="table-body__cell u-hide-desktop">0 / 0</td>
            <td class="table-body__cell u-hide-desktop">0 / 0</td>

            <td class="table-body__cell table-body__cell--points">0</td>
          </tr>
        </tbody>
      </table>
      <h3 class="tandings-subtitle">Group B</h3>
       <table class="table">
          <thead>
          <tr class="table-head">
            <th class="table-head__cell">Pos</th>
            <th class="table-head__cell u-text-left">Team</th>
            <th class="table-head__cell">Matches</th>
            <th class="table-head__cell u-hide-phablet">Won</th>
            <th class="table-head__cell u-hide-phablet">Lost</th>

            <th class="table-head__cell u-hide-desktop">Tied</th>
            <th class="table-head__cell u-hide-desktop">N/R</th>
            <th class="table-head__cell">Net RR</th>
            <th class="table-head__cell u-hide-desktop">For</th>
            <th class="table-head__cell u-hide-desktop">Against</th>
            <th class="table-head__cell"><span class="u-hide-phablet">Points</span><span class="u-show-phablet">Pts</span></th>
          </tr>
          </thead>
          <tbody>
            <tr class="table-body">
              <td class="table-body__cell table-body__cell--position">1</td>
              <td class="table-body__cell table-body__cell--main">
                <span class="flag-20 table-body__logo u-hide-phablet">
                  <%= image_tag 'flags/ind.jpg', :width => '26px', :height => '20px' %>
                </span>
                <span class="table-link">
                    <span class="u-hide-phablet">India</span>
                    <span class="u-show-phablet u-hide-mobile">India</span>
                    <span class="u-show-mobile">IND</span>
                </span>
              </td>
              <td class="table-body__cell">0</td>
              <td class="table-body__cell u-hide-phablet">0</td>
              <td class="table-body__cell u-hide-phablet">0</td>

              <td class="table-body__cell u-hide-desktop">0</td>
              <td class="table-body__cell u-hide-desktop">0</td>
              <td class="table-body__cell">0.00</td>
              <td class="table-body__cell u-hide-desktop">0 / 0</td>
              <td class="table-body__cell u-hide-desktop">0 / 0</td>

              <td class="table-body__cell table-body__cell--points">0</td>
            </tr>
            <tr class="table-body">
              <td class="table-body__cell table-body__cell--position">2</td>
              <td class="table-body__cell table-body__cell--main">
                <span class="flag-20 table-body__logo u-hide-phablet">
                  <%= image_tag 'flags/pak.jpg', :width => '26px', :height => '20px' %>
                </span>
                <span class="table-link">
                    <span class="u-hide-phablet">Pakistan</span>
                    <span class="u-show-phablet u-hide-mobile">Pakistan</span>
                    <span class="u-show-mobile">PAK</span>
                </span>
              </td>
              <td class="table-body__cell">0</td>
              <td class="table-body__cell u-hide-phablet">0</td>
              <td class="table-body__cell u-hide-phablet">0</td>

              <td class="table-body__cell u-hide-desktop">0</td>
              <td class="table-body__cell u-hide-desktop">0</td>
              <td class="table-body__cell">0.00</td>
              <td class="table-body__cell u-hide-desktop">0 / 0</td>
              <td class="table-body__cell u-hide-desktop">0 / 0</td>

              <td class="table-body__cell table-body__cell--points">0</td>
            </tr>
            <tr class="table-body">
                <td class="table-body__cell table-body__cell--position">3</td>
                <td class="table-body__cell table-body__cell--main">
                    <span class="flag-20 table-body__logo u-hide-phablet">
                      <%= image_tag 'flags/sa.jpg', :width => '26px', :height => '20px' %>
                    </span>
                    <span class="table-link">
                        <span class="u-hide-phablet">South Africa</span>
                        <span class="u-show-phablet u-hide-mobile">South Africa</span>
                        <span class="u-show-mobile">SA</span>
                    </span>
                </td>
                <td class="table-body__cell">0</td>
                <td class="table-body__cell u-hide-phablet">0</td>
                <td class="table-body__cell u-hide-phablet">0</td>

                <td class="table-body__cell u-hide-desktop">0</td>
                <td class="table-body__cell u-hide-desktop">0</td>
                <td class="table-body__cell">0.00</td>
                <td class="table-body__cell u-hide-desktop">0 / 0</td>
                <td class="table-body__cell u-hide-desktop">0 / 0</td>

                <td class="table-body__cell table-body__cell--points">0</td>
            </tr>
            <tr class="table-body">
                <td class="table-body__cell table-body__cell--position">4</td>
                <td class="table-body__cell table-body__cell--main">
                    <span class="flag-20 table-body__logo u-hide-phablet">
                      <%= image_tag 'flags/sl.jpg', :width => '26px', :height => '20px' %>
                    </span>
                    <span class="table-link">
                        <span class="u-hide-phablet">Sri Lanka</span>
                        <span class="u-show-phablet u-hide-mobile">Sri Lanka</span>
                        <span class="u-show-mobile">SL</span>
                    </span>
                </td>
                <td class="table-body__cell">0</td>
                <td class="table-body__cell u-hide-phablet">0</td>
                <td class="table-body__cell u-hide-phablet">0</td>

                <td class="table-body__cell u-hide-desktop">0</td>
                <td class="table-body__cell u-hide-desktop">0</td>
                <td class="table-body__cell">0.00</td>
                <td class="table-body__cell u-hide-desktop">0 / 0</td>
                <td class="table-body__cell u-hide-desktop">0 / 0</td>

                <td class="table-body__cell table-body__cell--points">0</td>
            </tr>
          </tbody>
    </table>

</section>

</div>
</div>